<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Index')"></head>

<body>

<header th:replace="fragments/navbar :: indexNavbar"></header>

<!--<div class="d-flex justify-content-center h-100">-->
<!--    <form id="searchForm" class="search">-->
<!--        <input type="text" class="search-input" id="searchText" placeholder="search..." name="">-->
<!--        <a class="search-icon">-->
<!--            <i class="fa fa-search"></i>-->
<!--        </a>-->
<!--    </form>-->
<!--</div>-->

<div class="container">
    <div class="jumbotron">
        <h3 class="text-center">Search For Any Movie</h3>
        <form id="searchForm">
            <input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
        </form>
    </div>
</div>


<div class="container">
    <div id="movies" class="row"></div>
</div>



<script  src="https://code.jquery.com/jquery-3.1.1.min.js"
         integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
         crossorigin="anonymous">

</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>